body {
    background-color: rgb(212, 236, 160);
}

img {
    margin-top: 10%;
    height: 150px;
    justify-content: flex-start;
    transform: translateX(90%);
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -ms-transform: translateX(90%);
    -o-transform: translateX(90%);
}

@media (max-width: 1606px) {
    img {
        transform: translateX(30%);
        margin-top: 10%;
        margin-right: 3%;
        height: 150px;
        justify-content: flex-start;
        position: relative;
        -webkit-transform: translateX(30%);
        -moz-transform: translateX(30%);
        -ms-transform: translateX(30%);
        -o-transform: translateX(30%);
    }
}

@media (max-width: 780px) {
    img {
        transform: translateX(10%);
        margin-top: 10%;
        margin-right: 3%;
        height: 150px;
        justify-content: flex-start;
        position: relative;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
    }
}

h1 {
    margin-left: 35%;
    padding-top: 20px;
    color: rgb(42, 42, 42);
}

.main .language-menu {
    position: relative;
    margin-left: 35%;
    border-color: #c9e7d1;
    margin-top: 5%;
}

label {
    font-size: 20px;
    padding-right: 5px;
}

button {
    transform: translateX(40%);
    margin-top: 15px;
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
}

.main .language-menu .langs {
    border-radius: 28px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 10px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.main .language-menu .langs option {
    color: black;
}

button {
    background-color: #25ba4d;
    border-radius: 28px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}