                                                                                /*start variables*/
                                                                            
                                                                            SEMILLAS* {
                                                                                -webkit-box-sizing: border-box;
                                                                                -moz-box-sizing: border-box;
                                                                                box-sizing: border-box;
                                                                                padding: 0;
                                                                                margin: 0;
                                                                            }
                                                                            
                                                                            @media (min-width: 768px) {
                                                                                .container {
                                                                                    width: 750px;
                                                                                }
                                                                            }
                                                                            
                                                                            @media (min-width: 992px) {
                                                                                .container {
                                                                                    width: 970px;
                                                                                }
                                                                            }
                                                                            
                                                                            @media (min-width: 1200px) {
                                                                                .container {
                                                                                    width: 1170px;
                                                                                }
                                                                            }
                                                                            
                                                                             :root {
                                                                                --main-coloroo: rgba(46, 143, 16, 0.883);
                                                                                --main-color: black;
                                                                                ---serction-padding: 100px;
                                                                            }
                                                                            
                                                                            ul {
                                                                                text-decoration: none;
                                                                            }
                                                                            /*end variables*/
                                                                            
                                                                            html {
                                                                                scroll-behavior: smooth;
                                                                                background-color: rgb(255, 255, 255);
                                                                            }
                                                                            
                                                                            h2 {
                                                                                line-height: 1.8;
                                                                            }
                                                                            
                                                                            p {
                                                                                font-size: 14px;
                                                                                line-height: 1.4;
                                                                            }
                                                                            
                                                                            header {
                                                                                background-color: rgb(255, 255, 255);
                                                                            }
                                                                            /*THE LOGO*/
                                                                            
                                                                            header img {
                                                                                padding-bottom: 30px;
                                                                                height: 120px;
                                                                            }
                                                                            
                                                                            header .container nav {
                                                                                flex: 1;
                                                                                display: flex;
                                                                                align-items: center;
                                                                                justify-content: flex-end;
                                                                                padding-bottom: 20px;
                                                                            }
                                                                            
                                                                            header .container nav ul {
                                                                                display: flex;
                                                                                list-style: none;
                                                                            }
                                                                            
                                                                            @media (max-width: 767px) {
                                                                                header .container nav ul {
                                                                                    display: none;
                                                                                }
                                                                                header .container nav .toggle-menu {
                                                                                    margin-right: 10%;
                                                                                    margin-bottom: 7%;
                                                                                }
                                                                                header .container nav .toggle-menu:hover+ul {
                                                                                    display: flex;
                                                                                    flex-direction: column;
                                                                                    position: absolute;
                                                                                    top: 100%;
                                                                                    left: 0;
                                                                                    width: 100%;
                                                                                    color: darkgray;
                                                                                    line-height: 5px;
                                                                                    background-color: rgb(165 221 45/ 50%);
                                                                                }
                                                                            }
                                                                            
                                                                            header .container nav .toggle-menu:hover {
                                                                                color: var(--main-coloroo);
                                                                            }
                                                                            
                                                                            header .container nav ul li a {
                                                                                display: block;
                                                                                text-decoration: none;
                                                                                color: rgb(66, 66, 66);
                                                                                font-size: 16px;
                                                                                transition: 0.3s;
                                                                                padding: 40px 10px;
                                                                                z-index: 2;
                                                                                position: relative;
                                                                            }
                                                                            
                                                                            header .container nav .toggle-menu {
                                                                                color: rgb(63, 63, 63);
                                                                                font-size: 22px;
                                                                            }
                                                                            
                                                                            @media (min-width: 768px) {
                                                                                header .container nav .toggle-menu {
                                                                                    display: none;
                                                                                }
                                                                            }
                                                                            
                                                                            header .container nav ul li a:current {
                                                                                color: var( --main-coloroo);
                                                                                border-bottom: 1px solid var(--main-coloroo);
                                                                            }
                                                                            
                                                                            header .container nav ul li a:hover {
                                                                                color: var( --main-coloroo);
                                                                                border-bottom: 1px solid var(--main-coloroo);
                                                                            }
                                                                            
                                                                            .main {
                                                                                width: auto;
                                                                                position: relative;
                                                                                flex: 1;
                                                                                display: flex;
                                                                                margin-bottom: 1000px;
                                                                            }
                                                                            
                                                                            .main .logo {
                                                                                height: 350px;
                                                                                position: absolute;
                                                                                margin-left: 20%;
                                                                                margin-top: 30px;
                                                                                margin-right: 5%;
                                                                                flex: auto;
                                                                                align-items: flex-start;
                                                                                justify-content: end;
                                                                            }
                                                                            
                                                                            @media (max-width: 848px) {
                                                                                .main .logo {
                                                                                    margin-top: 0%;
                                                                                    margin-bottom: 5%;
                                                                                    margin-left: 0%;
                                                                                    padding-left: 55px;
                                                                                    padding-bottom: 10px;
                                                                                }
                                                                            }
                                                                            
                                                                            .main .content {
                                                                                margin-left: 40%;
                                                                                margin-top: 30px;
                                                                                margin-right: 20%;
                                                                                position: absolute;
                                                                                flex: 1;
                                                                            }
                                                                            
                                                                            .main .content h2 {
                                                                                color: #55d12f;
                                                                            }
                                                                            
                                                                            @media (max-width: 848px) {
                                                                                .main .content {
                                                                                    margin-top: 30%;
                                                                                    margin-bottom: 5%;
                                                                                    margin-left: 10%;
                                                                                }
                                                                            }
                                                                            
                                                                            table,
                                                                            th,
                                                                            td {
                                                                                border: 1px solid #55d12f;
                                                                                font-weight: normal;
                                                                            }
                                                                            
                                                                            .main .price p {
                                                                                font-size: 18px;
                                                                                font-weight: bold;
                                                                            }
                                                                            
                                                                            .main .content .btn button {
                                                                                background-color: #25ba4d;
                                                                                border-radius: 5px;
                                                                                border: 1px solid #ffffff;
                                                                                border-style: outset;
                                                                                font-size: 20px;
                                                                                padding: 6px 15px;
                                                                                overflow: hidden;
                                                                                cursor: pointer;
                                                                                color: #ffffff;
                                                                                font-family: Arial;
                                                                                text-decoration: none;
                                                                                text-shadow: 0px 1px 0px #2f6627;
                                                                            }
                                                                            
                                                                            .main .content .btn button:hover {
                                                                                background-color: #4fcf1c;
                                                                            }
                                                                            
                                                                            .main .content .btn .value {
                                                                                color: #4fcf1c;
                                                                                background-color: #ffffff;
                                                                                border: 1px solid #4fcf1c;
                                                                            }
                                                                            
                                                                            .main .content .btn .value:hover {
                                                                                background-color: #d2f1c5;
                                                                            }
                                                                            
                                                                            body .photos {
                                                                                position: relative;
                                                                                margin-bottom: 100px;
                                                                            }
                                                                            
                                                                            .photos h2 {
                                                                                font-size: 30px;
                                                                                position: relative;
                                                                                margin-bottom: 10px;
                                                                                text-transform: uppercase;
                                                                                text-align: center;
                                                                                letter-spacing: 3px;
                                                                            }
                                                                            
                                                                            .photos .seeim {
                                                                                margin-right: 270px;
                                                                                margin-left: 270px;
                                                                                margin-bottom: 50px;
                                                                                display: grid;
                                                                                grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
                                                                                grid-column-gap: 5px;
                                                                                grid-row-gap: 5px;
                                                                            }
                                                                            
                                                                            .photos .seeim .seedout {
                                                                                display: block;
                                                                            }
                                                                            
                                                                            .photos .seeim .seedout .seedin {
                                                                                border: 2px solid rgb(134, 185, 121);
                                                                                height: fit-content;
                                                                                width: 240px;
                                                                                position: relative;
                                                                            }
                                                                            
                                                                            .photos .seeim .seedout .seedin .im {
                                                                                height: 225px;
                                                                                width: 225px;
                                                                            }
                                                                            
                                                                            .photos .seeim .seedout .seedin .im img {
                                                                                height: 225px;
                                                                                width: 225px;
                                                                            }
                                                                            
                                                                            @media(max-width:1320px) {
                                                                                .main {
                                                                                    width: auto;
                                                                                    position: relative;
                                                                                    flex: 1;
                                                                                    display: flex;
                                                                                    margin-bottom: 1000px;
                                                                                }
                                                                                .photos {
                                                                                    position: relative;
                                                                                    margin-bottom: 100px;
                                                                                }
                                                                                .photos .seeim {
                                                                                    margin-top: 70px;
                                                                                    margin-right: 70px;
                                                                                    margin-left: 70px;
                                                                                    margin-bottom: 50px;
                                                                                    display: grid;
                                                                                    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
                                                                                    grid-column-gap: 5px;
                                                                                    grid-row-gap: 5px;
                                                                                }
                                                                                @media(max-width:915px) {
                                                                                    .main {
                                                                                        width: auto;
                                                                                        position: relative;
                                                                                        flex: 1;
                                                                                        display: flex;
                                                                                        margin-bottom: 1100px;
                                                                                    }
                                                                                }
                                                                                @media(max-width:435px) {
                                                                                    .photos h2 {
                                                                                        font-size: 30px;
                                                                                        /* position: relative; */
                                                                                        margin-bottom: 10px;
                                                                                        text-transform: uppercase;
                                                                                        text-align: center;
                                                                                        /* margin-top: 900px; */
                                                                                        /* padding-bottom: 10px; */
                                                                                        padding-right: 5px;
                                                                                        letter-spacing: px;
                                                                                        padding-left: 10px;
                                                                                    }
                                                                                    .main .content .btn button {
                                                                                        padding: 2px 12px;
                                                                                    }
                                                                                    .photos .seeim .seedout .seedin {
                                                                                        border: 1px solid rgb(134, 185, 121);
                                                                                        height: fit-content;
                                                                                        width: 150px;
                                                                                        position: relative;
                                                                                    }
                                                                                    .main .logo {
                                                                                        /* margin-top: 0%; */
                                                                                        /* margin-bottom: 50%; */
                                                                                        /* margin-left: 0%; */
                                                                                        /* padding-left: 55px; */
                                                                                        padding-bottom: 10px;
                                                                                        height: 170px;
                                                                                        padding-top: 0px;
                                                                                        margin-top: 0px;
                                                                                    }
                                                                                    .photos .seeim .seedout .seedin {
                                                                                        border: 1px solid rgb(134, 185, 121);
                                                                                        height: fit-content;
                                                                                        width: 145px;
                                                                                        height: 140px;
                                                                                        position: relative;
                                                                                    }
                                                                                    .photos .seeim .seedout .seedin .im img {
                                                                                        height: 140px;
                                                                                        width: 140px;
                                                                                    }
                                                                                    .photos .seeim {
                                                                                        margin-top: 10px;
                                                                                        margin-right: 10px;
                                                                                        margin-left: 10px;
                                                                                        margin-bottom: 10px;
                                                                                        display: grid;
                                                                                        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
                                                                                        grid-column-gap: 2px;
                                                                                        grid-row-gap: 2px;
                                                                                    }
                                                                                }
                                                                                footer {
                                                                                    width: 100%;
                                                                                }
                                                                                footer div .inside {
                                                                                    /*background-color: #365731;*/
                                                                                    background-color: #3d6737;
                                                                                    height: auto;
                                                                                    width: 100%;
                                                                                    margin: 0 auto;
                                                                                    padding: 50px 50px 50px 50px;
                                                                                    display: flex;
                                                                                    flex-flow: row wrap;
                                                                                }
                                                                                footer div .inside .foot {
                                                                                    float: right;
                                                                                    padding-top: 40px;
                                                                                    -webkit-transform: translateX( -20%);
                                                                                    -moz-transform: translateX( -20%);
                                                                                    -ms-transform: translateX( -20%);
                                                                                    -o-transform: translateX( -20%);
                                                                                }
                                                                                footer div .inside .foot .numone {
                                                                                    padding-right: 50px;
                                                                                    position: relative;
                                                                                    flex: 0 1 230px;
                                                                                }
                                                                                footer div .inside .foot .numtwo {
                                                                                    padding-right: 50px;
                                                                                    position: relative;
                                                                                    flex: 0 1 230px;
                                                                                }
                                                                                footer div .inside .foot .numthree {
                                                                                    padding-right: 50px;
                                                                                    position: relative;
                                                                                    flex: 0 1 230px;
                                                                                }
                                                                                body footer div .inside .outimg {
                                                                                    height: auto;
                                                                                    width: auto;
                                                                                    padding-top: 2em;
                                                                                    padding-left: 2em;
                                                                                    max-width: 200px;
                                                                                    max-height: 200px;
                                                                                }
                                                                                @media(min-width:845px) {
                                                                                    body footer div .inside .outimg .img-f {
                                                                                        display: none;
                                                                                        src: url("./nextphoto.peg");
                                                                                    }
                                                                                }
                                                                                @media( max-width:1206px) {
                                                                                    body footer div .inside .outimg .img-f {
                                                                                        display: none;
                                                                                    }
                                                                                }
                                                                                body footer div .inside .outimg .img-f {
                                                                                    height: auto;
                                                                                    width: auto;
                                                                                    max-width: 200px;
                                                                                    max-height: 200px;
                                                                                }
                                                                                footer div .inside ul {
                                                                                    margin: 0;
                                                                                    padding: 0;
                                                                                    padding-left: 30px;
                                                                                    list-style: none;
                                                                                }
                                                                                footer div .inside ul li {
                                                                                    padding: 5px 70px 5px 10px;
                                                                                    font-size: 16px;
                                                                                    text-decoration: none;
                                                                                    color: rgb(34, 34, 34);
                                                                                }
                                                                                @media (max-width:880px) {
                                                                                    footer div .inside ul li {
                                                                                        padding: 5px 30px 5px 10px;
                                                                                        font-size: 16px;
                                                                                        text-decoration: none;
                                                                                        color: rgb(34, 34, 34);
                                                                                    }
                                                                                }
                                                                                footer div .inside nav ul {
                                                                                    text-decoration: none;
                                                                                }
                                                                                footer div .inside h5 {
                                                                                    color: rgb(31 169 0);
                                                                                }
                                                                                footer div .inside ul li a {
                                                                                    text-decoration: none;
                                                                                }
                                                                                (max-width:845px) {
                                                                                    footer div .inside .foot {
                                                                                        position: absolute;
                                                                                        justify-content: flex-start;
                                                                                        display: inline;
                                                                                        padding-top: 16%;
                                                                                        padding-left: 2em;
                                                                                    }
                                                                                    footer div .inside .foot .f {
                                                                                        display: flex;
                                                                                    }
                                                                                    footer div .inside {
                                                                                        padding-left: 5em;
                                                                                    }
                                                                                    footer .inside .foot {
                                                                                        display: block;
                                                                                    }
                                                                                }
                                                                                @media(max-width:635px) {
                                                                                    footer div .inside {
                                                                                        /* background-color: #365731; */
                                                                                        background-color: #3d6737;
                                                                                        height: auto;
                                                                                        width: 100%;
                                                                                        margin: 0 auto;
                                                                                        padding: 5px 5px 5px 5px;
                                                                                        display: flex;
                                                                                        flex-flow: row wrap;
                                                                                    }
                                                                                }